/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f8f9fa;*/
/*    color: #333;*/
/*}*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    /*margin-bottom: 20px;*/
}

.content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    margin-top: 20px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    margin-right: 20px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
}

.submit-btn,
.import-btn,
.cancel-btn {
    background-color: #6f42c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-btn {
    background-color: #ccc;
    color: #333;
}

.submit-btn:hover,
.import-btn:hover,
.cancel-btn:hover {
    background-color: #563d7c;
}

/* Sidebar styles */
#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    width: 250px;
    transition: width 0.3s;
    overflow: hidden;
}

#sidebar-wrapper.collapsed {
    width: 0;
}

main {
    flex-grow: 1;
    padding-left: 250px;
    transition: padding-left 0.3s;
}

main.collapsed {
    padding-left: 20px;
}
