<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Academic Year</title>
  <link rel="stylesheet" href="../static/styles/pages2.css">
</head>
<body>
<header>
  <nav>
    <div class="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav-title">
      <h2>Academic Years</h2>
    </div>
    <div class="nav-icons">
      <i class="fas fa-bell"></i>
      <i class="fas fa-envelope"></i>
    </div>
  </nav>
</header>
<main>

    <form id="academicYear-form" method="post" action="/academic-year/add" enctype="multipart/form-data">
<!--  <form id="academicYear-form" method="post" onsubmit="submitForm('academic-year', '/academic-year/add')" enctype="multipart/form-data">-->
  <section class="filter-section">
      <div class="filter-group">
        <label for="academicYear">Academic Year</label>
        <input type="text" id="academicYear" placeholder="Academic year" name="year" required>
      </div>
      <div class="filter-group">
        <label for="importFile">Import Academic Year</label>
        <input id="importFile" type="file" name="academicYearFile" readonly>
      </div>
      <div class="button-actions">
<!--        <button class="save-btn" type="submit" onclick="validateForm()">Save</button>-->
        <button class="save-btn" type="submit" >Save</button>
        <button class="import-btn" onclick="importAcademicYears()">Import (Excel)</button>
      </div>
    </section>
  </form>
  <section class="results-section">
    <div class="results-info">
      <span>Academic Year List</span>
      <input type="text" class="search-bar" placeholder="Search...">
      <div class="sort-options">
        <label for="sort-by">Sort by</label>
        <select id="sort-by" onchange="sortTable()">
          <option value="id-asc">Year ID (Asc)</option>
          <option value="id-desc">Year ID (Desc)</option>
          <option value="academicYear-asc">Academic Year (Asc)</option>
          <option value="academicYear-desc">Academic Year (Desc)</option>
          <option value="date-asc">Date Added (Asc)</option>
          <option value="date-desc">Date Added (Desc)</option>
        </select>
      </div>
    </div>
    <table class="results-table" id="academicYearTable">
      <thead>
      <tr>
        <th></th>
        <th>Academic Year ID</th>
        <th>Academic Year</th>
        <th>Date Added</th>
        <th>Date Edited</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Table data will be loaded here -->
      <tr th:each="academicYear : ${academicYears}">
        <td class="year-id" th:text="${academicYear.yearId}">ID</td>
        <td th:text="${academicYear.year}">Faculty ID</td>
<!--        <td th:text="${faculty.facultyName}">Faculty Name</td>-->
        <td th:text="${academicYear.dateAdded}">Date Added</td>
        <td th:text="${academicYear.dateEdited}">Date Edited</td>
        <td>
          <button class="icon-btn">✎</button>
          <!--          <button class="icon-btn">✄</button>-->
          <button class="icon-btn" id="deleteButton" onclick="deleteAcademicYear(this)">🗑</button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</main>

<script src="../static/scripts/academic-year.js"></script>
<!--<script src="../static/scripts/ac2.js"></script>-->

</body>
</html>
