<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../static/styles/dashboard/dashboard-page.css">
</head>
<body>

<div class="main-content" id="main-content"  th:fragment="content">
  <div class="cards">
    <div class="card" style="background-color: #4a69bd; color: #fff;">
      <h3>Total Certificates</h3>
      <p>422</p>
    </div>
    <div class="card" style="background-color: #78e08f; color: #fff;">
      <h3>Collected Certificates</h3>
      <p>357</p>
    </div>
    <div class="card" style="background-color: #9b59b6; color: #fff;">
      <h3>Verified Certificates</h3>
      <p>547</p>
    </div>
    <div class="card" style="background-color: #e74c3c; color: #fff;">
      <h3>Total Students</h3>
      <p>3280</p>
    </div>
  </div>
</div>

</body>
</html>



<!--<div class="main-content" id="main-content" th:fragment="content">-->
<!--  <div class="cards">-->
<!--    <div class="card" style="background-color: #4a69bd; color: #fff;">-->
<!--      <h3>Total Certificates</h3>-->
<!--      <p>422</p>-->
<!--    </div>-->
<!--    <div class="card" style="background-color: #78e08f; color: #fff;">-->
<!--      <h3>Collected Certificates</h3>-->
<!--      <p>357</p>-->
<!--    </div>-->
<!--    <div class="card" style="background-color: #9b59b6; color: #fff;">-->
<!--      <h3>Verified Certificates</h3>-->
<!--      <p>547</p>-->
<!--    </div>-->
<!--    <div class="card" style="background-color: #e74c3c; color: #fff;">-->
<!--      <h3>Total Students</h3>-->
<!--      <p>3280</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->