<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Management System</title>
    <link rel="stylesheet" href="../static/styles/login.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>

<body>
</body>
<form method="POST" action="/login/loginUser">
    <div class="login-container">

        <div class="login-box">
            <div>
                <img src="../static/images/uew-logo-alumni.jpg">
            </div>
            <h2>Login</h2>
            <form action="/loginUser" method="get">
                <div class="textbox">
                    <input type="text" placeholder="User ID" name="userId" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" required>
                </div>

                <button type="submit" class="btn">Login</button>
                <a href="forgotpw.html" class="forgot-password">Forgot Password?</a>
            </form>
            <div class="register-link">
                Don't have an account? <a href="/register">Register</a>
            </div>
        </div>
    </div>
</form>
</html>