<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Programme</title>
  <link rel="stylesheet" href="../static/styles/pages2.css">
</head>
<body>
<header>
  <nav>
    <div class="menu-icon">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav-title">Programmes</div>
    <div class="nav-icons">
      <i class="fas fa-bell"></i>
      <i class="fas fa-envelope"></i>
    </div>
  </nav>
</header>
<main>
  <section class="filter-section">
    <div class="filter-group">
      <label for="skill">Programme ID</label>
      <input type="text" id="skill" placeholder="Programme ID">
    </div>
    <div class="filter-group">
      <label for="salary-range">Programme</label>
      <input type="text" id="salary-range" placeholder="Progeamme name">
    </div>
    <div class="filter-group">
      <label for="work-experience">Faculty</label>
      <select id="work-experience">
        <option>Select Faculty</option>
      </select>
    </div>
    <div class="filter-group">
      <label for="work-experience">Department</label>
      <select id="work-experience">
        <option>Select Department</option>
      </select>
    </div>
    <div class="button-actions">
      <button class="save-btn">Save</button>
      <button class="import-btn">Import (Excel)</button>
    </div>
  </section>
  <section class="results-section">
    <div class="results-info">
      <span>Programme List</span>
      <input type="text" class="search-bar" placeholder="Search">
      <div class="sort-options">
        <label for="sort-by">Sort by</label>
        <select id="sort-by">
          <option>ID</option>
          <option>Name (A-Z)</option>
          <option>Faculty</option>
          <option>Department</option>
          <option>Date</option>
        </select>
      </div>
    </div>
    <table class="results-table">
      <thead>
      <tr>
        <th></th>
        <th>Programme ID</th>
        <th>Programme Name</th>
        <th>Faculty</th>
        <th>Department</th>
        <th>Date Added</th>
        <th>Date Edited</th>
      </tr>
      </thead>
      <tbody>
      <!-- Table data will be loaded here -->
      </tbody>
    </table>
  </section>
</main>
</body>
</html>
