<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Certificate Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="../static/styles/pages/pages-add.css">
  <link rel="stylesheet" href="../static/styles/dashboard.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 100px;
      width: 70%;
    }
    .header {
      margin-bottom: 20px;
      text-align: center;
    }
    .form-buttons {
      display: flex;
      justify-content: space-between;
    }
    .form-buttons button {
      width: 48%;
    }
  </style>
</head>
<body>
<!--======== HEADER STARTS HERE ========== -->
<!--======== HEADER STARTS HERE ========== -->
<!-- Header -->
<!--<header th:fragment="header">-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <span class="navbar-text text-white mr-3" id="userName">Full Name</span>
        <span class="navbar-text text-white mr-3">||</span>
        <span class="navbar-text text-white mr-3" id="roleUser">Role</span>
        <!--        <button class="btn btn-primary ml-3" id="menu-toggle">Toggle Menu</button>-->
        <button class="btn btn-primary ml-3" id="menu-toggle">☰</button>
      </div>
      <div class="mx-auto">
        <a class="navbar-brand text-white" href="#">Certificate Management System</a>
      </div>
      <div class="d-flex align-items-center">
        <a class="nav-link text-white" href="#"><img src="../static/images/notification.png" alt="Notification" class="icon"></a>
        <a class="nav-link text-white" href="#"><img src="../static/images/logout.png" alt="Logout" class="icon"></a>
      </div>
    </div>
  </nav>
</header>
<!--======== HEADER ENDS HERE ========== -->
<!--======== HEADER ENDS HERE ========== -->


<!--======== SIDE BAR STARTS HERE ==========-->
<!--======== SIDE BAR STARTS HERE ========== -->
<nav th:fragment="sidebar">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush" id="sidebar-content">
        <a href="/dashboard/homepage" class="list-group-item list-group-item-action bg-dark text-white"><img src="../static/images/home.png" alt="home">Dashboard</a>
        <div class="dropdown">
          <a href="#academicYearMenu" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-toggle="collapse"><img src="../static/images/calendar.png" alt="dashboard">Setup</a>
          <div id="academicYearMenu" class="collapse">
            <a class="list-group-item list-group-item-action bg-dark text-white" href="/academic-year/academic-year-add">Academic Year</a>
            <a href="/faculty/faculty-add" class="list-group-item list-group-item-action bg-dark text-white">Faculty</a>
            <a href="/department/department-add" class="list-group-item list-group-item-action bg-dark text-white">Department</a>
            <a href="/programme/programme-add" class="list-group-item list-group-item-action bg-dark text-white" >Programme</a>
            <a href="/student/student-add" class="list-group-item list-group-item-action bg-dark text-white">Student</a>
            <a href="/register" class="list-group-item list-group-item-action bg-dark text-white">Users</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#certificateMenu" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-toggle="collapse">
            <img src="../static/images/certificate.png" alt="Certificate">Certificate</a>
          <div id="certificateMenu" class="collapse">
            <a href="/certificate/certificate-add" class="list-group-item list-group-item-action bg-dark text-white">Add Certificate</a>
            <a href="/certificate-issue" class="list-group-item list-group-item-action bg-dark text-white">Issue Certificate</a>
            <a href="/certificate-verify" class="list-group-item list-group-item-action bg-dark text-white">Verify Certificate</a>
            <a href="/certificate-issue/all-issued" class="list-group-item list-group-item-action bg-dark text-white">Issued Table</a>
            <a href="/certificate-verify/all-verified" class="list-group-item list-group-item-action bg-dark text-white">Verified Table</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#reportMenu" class="list-group-item list-group-item-action bg-dark text-white dropdown-toggle" data-toggle="collapse">
            <img src="../static/images/report.png" alt="Certificate">Report</a>
          <div id="reportMenu" class="collapse">
            <a href="#" target="_blank" class="list-group-item list-group-item-action bg-dark text-white" id="userActivityReportButton">User Activity</a>
            <a href="#" target="_blank" class="list-group-item list-group-item-action bg-dark text-white" id="tableStatsReportButton">Table Statistics</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /#sidebar-wrapper -->
<!--======== SIDE BAR ENDS HERE ==========-->
<!--======== SIDE BAR ENDS HERE ========== -->

<main id="main-content">
  <div class="container">
    <div class="header">
      <h1>Add User</h1>
    </div>
  <!--  <div class="content">-->
      <div class="form-container">
        <h2>User Info</h2>
  <!--      <form action="/user/add" method="POST" id="registerForm">-->
        <form id="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="userId">User ID</label>
              <input type="text" class="form-control" id="userId" placeholder="User ID" name="userId" required>
            </div>
            <div class="form-group col-md-6">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Full Name" name="fullName" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="gender">Gender</label>
              <select id="gender" class="form-control" name="gender" required>
                <option value="">Select Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="role">Role</label>
              <select id="role" class="form-control" name="role" required>
                <option value="">Select Role</option>
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_CLIENT">Client</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
            </div>
            <div class="form-group col-md-6">
              <label for="usernames">Username</label>
              <input type="text" class="form-control" id="usernames" placeholder="Confirm Password" name="username" required>
            </div>
          </div>
          <div class="form-buttons">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger">Cancel</button>
          </div>
        </form>
      </div>
  </div>


  <!-- User Table -->
  <div class="row justify-content-center mt-4">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <h5 class="card-title">All Users</h5>
            <button class="btn btn-primary" onclick="">+ Add new</button>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="userTable">
              <thead>
              <tr>
                <th>User ID</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Date Added</th>
                <th>Date Edited</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody id="userTableBody"></tbody>
            </table>
          </div>
          <!-- Pagination handled by DataTables -->
        </div>
      </div>
    </div>
  </div>
<!--  </div>-->
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../static/scripts/register.js"></script>
<!--<script src="../static/scripts/dashboard.js"></script>-->
</body>
</html>
