<html lang="en">
<head>
  <title>Verified Certificates</title>
  <style>
    body { font-family: Arial, sans-serif; justify-content: center; align-items: center; }
    table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
    th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
    th { background-color: #f2f2f2; }
  </style>
</head>
<body>
<h1>Verified Certificates</h1>
${verifiedCertificates.map(cert => `
<table>
  <thead>
  <tr>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Programme</th>
    <th>Department</th>
    <th>Academic Year Added</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>${cert.studentId}</td>
    <td>${cert.name}</td>
    <td>${cert.programme}</td>
    <td>${cert.department}</td>
    <td>${cert.academicYear}</td>
    <td>${cert.classHonours}</td>
  </tr>
  </tbody>
</table>
`).join('')}
</body>
</html>






<table class="verifiedTable">
  <tr><th>Student ID</th><td>${cert.studentId}</td></tr>
  <tr><th>Name</th><td>${cert.name}</td></tr>
  <tr><th>Programme</th><td>${cert.programme}</td></tr>
  <tr><th>Department</th><td>${cert.department}</td></tr>
  <tr><th>Academic Year</th><td>${cert.academicYear}</td></tr>
  <tr><th>Class</th><td>${cert.classHonours}</td></tr>
</table>