.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.card {
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 30px;
}
.card:hover {
    transform: scale(1.05);
}


.my-5 {
    padding-top: 5%;
}

/* Sidebar styles */
#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    width: 250px;
    transition: width 0.3s;
    overflow: hidden;
}

#sidebar-wrapper.collapsed {
    width: 0;
}

main {
    flex-grow: 1;
    padding-left: 250px;
    transition: padding-left 0.3s;
}

main.collapsed {
    padding-left: 20px;
}
